/*
* @Author: Marte
* @Date:   2018-09-12 10:37:24
 * @Last Modified by: liushengxiao
 * @Last Modified time: 2021-05-11 15:34:21
*/

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #42cafc;
    padding-right: 0px !important;
    background-image: linear-gradient(to bottom, #b0ee75, #b0ee75, #b0ee75, #0ab3aa);
}


/*大转盘*/

.main {
    max-width: 1000px;
    min-height: 150vh;
    margin: 0 auto;
    padding-top: 44vw;
}

//大转盘
.ly-plate {
    position: relative;
    width: 100vw;
    height: 100vw;
    margin: 0px auto;
    overflow: hidden;
    background-color: red;
    .rotate-bg {
        width: 100vw;
        height: 100vw;
        background: url(../images/ly-plate.png);
        position: absolute;
        top: 0;
        left: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        animation: vpp 1s linear 1s forwards;
    }
    @keyframes vpp {
        0% {
            background-size: 5%;
            //transform: rotateZ(0deg);
        }
        50% {
            background-size: 100%;
        }
        100% {
            background-size: 90%;
            //transform: rotateZ(360deg);
        }
    }
    .lottery-star {
        width: 46vw;
        height: 46vw;
        position: absolute;
        top: 27vw;
        left: 27vw;
        /*text-indent:-999em;
        overflow:hidden;
        background:url(rotate-static.png);
        -webkit-transform:rotate(0deg);*/
        outline: none;
        #lotteryBtn {
            cursor: pointer;
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
        }
    }
}